


<style>
    body {
        padding-top: 70px; /* Adjust this value based on the height of your navbar */
    }
</style>

   

    <div>
        <img src="~/images/home/slide.jfif " style="width: 100vw" />
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card" style="width: 18rem">
                    <img src="~/images/home/set139.png" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <div class="container"
                             style="border-left: 5px solid rgb(255, 128, 23)">
                            <h5 class="card-title">
                                Set
                                <span style="
                      font-size: x-large;
                      color: rgb(255 128 23);
                      font-weight: bolder;
                    ">139k</span>
                            </h5>
                            <p class="card-text">Gọi thả ga, ăn thật đã</p>
                            <a href="#" class="btn btn-outline-success">Xem</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem">
                    <img src="~/images/home/set189.jfif"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <div class="container"
                             style="border-left: 5px solid rgb(255, 128, 23)">
                            <h5 class="card-title">
                                Set
                                <span style="
                      font-size: x-large;
                      color: rgb(255 128 23);
                      font-weight: bolder;
                    ">189k</span>
                            </h5>
                            <p class="card-text">Thêm thật nhiều món hấp dẫn</p>
                            <a href="#" class="btn btn-outline-success">Xem</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem">
                    <img src="~/images/home/set249.jfif"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <div class="container"
                             style="border-left: 5px solid rgb(255, 128, 23)">
                            <h5 class="card-title">
                                Set
                                <span style="
                      font-size: x-large;
                      color: rgb(255 128 23);
                      font-weight: bolder;
                    ">249k</span>
                            </h5>
                            <p class="card-text">Special</p>
                            <a href="#" class="btn btn-outline-success">Xem</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
