@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    /* Write page CSS here*/
.message-box{
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.success-container{
  background: white;
  height: 480px;
  width: 90%;
box-shadow: 5px 5px 10px grey;
  text-align: center;
}
.confirm-green-box{
  width: 100%;
  height: 140px;
  background: #d7f5da;
}


.monserrat-font{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}





/* --------------- site wide START ----------------- */
.main{
  width:80vw;
  margin: 0 10vw;
  height:50vh;
  overflow:hidden;
  
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* 
 * Setting the site variables, example of how to use
 * color:var(--text-1);
 *
 */

:root {
    --background-1: #ffffff;
    --background-2: #E3E3E3;
    --background-3: #A3CCC8;
    --text-1: #000000;
    --text-2: #ffffff;
    --text-size-reg: calc(20px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
    --text-size-sml: calc(10px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
}

.verticle-align{
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
}

.no-style{
  padding:0;
  margin:0;
}



  
}
</style>

<!-- start of nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">OUI OUI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SHOP</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">
                    ABOUT US
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LOGIN</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item login-logout-btn">
                <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i>{QUANTITY}</a>
            </li>
        </ul>
    </div>
</nav>
<!-- end of nav-->
<!-- start of main -->
<div style="background:">
    <div class="container">

        <div class="row">
            <div class="col-12 ">
                <div class="message-box">
                    <div class="success-container">

                        <br>
                        <img src="https://scontent-lcy1-1.xx.fbcdn.net/v/t1.6435-9/31301640_2114242505489348_3921532491046846464_n.png?_nc_cat=104&ccb=1-3&_nc_sid=973b4a&_nc_ohc=pfOalMq8BzUAX-k-rhY&_nc_ht=scontent-lcy1-1.xx&oh=3af014dd12fa6e3d1816a3425a80e516&oe=609BE04A" alt="" style="height: 100px;">
                        <br>
                        <div style="padding-left: 5%; padding-right: 5%">
                            <hr
                        </div>
                        <br>
                        <h1 class="monserrat-font" style="color: Grey">Thank you for your order</h1>
                        <br>

                        <div class="confirm-green-box">
                            <br>
                            <h5>ORDER CONFIRMATION</h5>
                            <p>Your order @ViewBag.OrderCode has been sucessful!</p>
                            <p>Thank you for choosing Phan Restaurant. You will shortly receive a confirmation email.</p>
                        </div>

                        <br>
                        <a id="create-btn" class="btn btn-ouioui-secondary margin-left-5px" href="/Product">Back to shop</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end of main -->