
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <a class="btn btn-outline-secondary" asp-action="Insert" asp-controller="Account">Add new account</a>
    <h1>List Account</h1>

    <table class="table" id="account-list">

        <thead>
            <tr>
                <th>Username</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Role</th>
                <th>Branch</th>
                <th>IsActive</th>
                <th>Action</th>
            </tr>
        </thead>



    </table>
</div>

 @section Scripts{
    <script src="~/js/registerDatatable.js"></script>
    <script src="~/components/user.js"></script>
 }